// Vendor before config
//

// Config
@import 'functions';
@import 'mixins';
@import 'vars';
@import 'utilities';

@import 'vendor/normalize';
@import 'vendor/next-pattern-library';

// Vendor after config
@import 'vendor/nprogress';
@import 'vendor/toast';
@import 'vendor/snipcart';

// Elements
@import 'elements/button';
@import 'elements/copy';
@import 'elements/heading';
@import 'elements/image';
@import 'elements/label';
@import 'elements/input';
@import 'elements/checkbox';
@import 'elements/radio';
@import 'elements/icon';
// @import 'elements/search-bar';

// Modules
@import 'modules/carousel';
@import 'modules/project';
@import 'modules/post';
@import 'modules/theme';
@import 'modules/subscribe-banner';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/layout';
@import 'modules/text-block';
@import 'modules/text-image-block';
@import 'modules/form';
@import 'modules/avatar';
@import 'modules/card';
@import 'modules/hero';
@import 'modules/modal';
@import 'modules/tabs';
@import 'modules/page';
@import 'modules/intro';

.terminal__input {
  position: absolute;
  top: -4px;
  left: 19px;
  height: 34px;
  line-height: 34px;
  width: 100%;
  max-width: 200px;
  background: transparent;
  border: 0;
  // opacity: 0;
  caret-color: transparent;
  text-transform: lowercase;
  border-radius: 0px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  padding-left: 6px;

  @extend .t-primary;
}

@include breakpoint-up(md) {
  .terminal__input {
    top: -2px;
    left: 19px;
  }
}

.terminal__prompt__wrapper {
  width: 100%;
}

.terminal__prompt {
  position: relative;

  * {
    font-weight: normal;
  }
}

.terminal__prompt * {
  line-height: 1.5;
  margin: 0;

  @extend .f5;
  @extend .f4-md;

  h1:not(.db),
  p:not(.db),
  span:not(.db) {
    padding-bottom: 10px;
    display: inline;
  }
}

@include breakpoint-up(md) {
  .terminal__prompt * {
    h1:not(.db),
    p:not(.db),
    span:not(.db) {
      padding-bottom: 0px;
    }
  }
}

.terminal__prompt--1 {
  opacity: 0;
  animation-name: appear;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;

  .terminal__prompt__content {
    animation: typing-gimme-dev 6s steps(19, end);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0.5s !important;
  }
}

.terminal__prompt--2 {
  opacity: 0;
  animation-name: appear;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;

  .terminal__prompt__content {
    animation: typing-gimme-dev 6s steps(19, end);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.5s !important;
  }
}

.terminal__prompt--3 {
  opacity: 0;
  animation-name: appear;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;

  .terminal__prompt__content {
    animation: typing-gimme-dev 6s steps(19, end);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 2.5s !important;
  }
}

.terminal__prompt--command {
  opacity: 0;
  width: 100%;
  max-width: 200px;
  animation-name: appear;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;

  .terminal__prompt__content {
    animation-delay: 3.5s !important;
  }
}

.terminal__prompt--command.email {
  .terminal__input {
    border-color: var(--black);
  }

  .blink {
    display: none !important;
  }
}

@include breakpoint-up(md) {
  .terminal__prompt--command.email {
    .terminal__input {
      border-color: transparent;
    }
  }

  .terminal__prompt--command:hover {
    .terminal__input:hover {
      border-color: var(--black);
    }

    .blink {
      opacity: 0 !important;
    }
  }
}

.terminal__prompt .terminal__prompt__content {
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 0;
  display: inline-block;
  box-sizing: border-box;
  height: calc(100% + 10px);
  background: var(--white);
  // border-left: 1px solid #fff;
}

.blink {
  animation: blink-animation 1s steps(3, start) infinite;
  animation-delay: 0.3s;
  transition: all 0.3s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  50%,
  100% {
    opacity: 1;
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@keyframes typing-gimme-dev {
  0% {
    width: 100%;
    opacity: 1;
  }
  12% {
    width: 0;
  }
  15% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
