// Vendor before config
//

// Config
@import 'functions';
@import 'mixins';
@import 'vars';
@import 'utilities';

@import 'vendor/normalize';
@import 'vendor/next-pattern-library';

// Vendor after config
@import 'vendor/nprogress';
@import 'vendor/toast';
@import 'vendor/snipcart';

// Elements
@import 'elements/button';
@import 'elements/copy';
@import 'elements/heading';
@import 'elements/image';
@import 'elements/label';
@import 'elements/input';
@import 'elements/checkbox';
@import 'elements/radio';
@import 'elements/icon';
// @import 'elements/search-bar';

// Modules
@import 'modules/carousel';
@import 'modules/project';
@import 'modules/post';
@import 'modules/theme';
@import 'modules/subscribe-banner';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/layout';
@import 'modules/text-block';
@import 'modules/text-image-block';
@import 'modules/form';
@import 'modules/avatar';
@import 'modules/card';
@import 'modules/hero';
@import 'modules/modal';
@import 'modules/tabs';
@import 'modules/page';
@import 'modules/intro';

.terminal__prompt--typing {
  position: relative;
  opacity: 0;
  animation-name: appear;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.blink {
  animation: blink-animation 1s steps(3, start) infinite;
  animation-delay: 0.3s;
}

.terminal__prompt--typing .cover {
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 0;
  display: inline-block;
  box-sizing: border-box;
  height: calc(100% + 10px);
  background: var(--black);
  // border-left: 1px solid #fff;
}

.terminal__prompt--typing .cover--gimme-dev {
  animation: typing-gimme-dev 16s steps(19, end);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  50%,
  100% {
    opacity: 1;
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@keyframes typing-gimme-dev {
  0% {
    width: 100%;
    opacity: 1;
  }
  12% {
    width: 0;
  }
  15% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
