.card {
}

.card--default {
  //
}

.card--project {
  .card__dialog {
    @extend .flex-md;
    @extend .flex-wrap-md;
    align-content: center;
    @extend .pt3;
    @extend .pt0-md;
  }

  .card__title {
    @extend .col-24-md;
    * {
      @extend .f3-md;
      @extend .lh-title;
    }
  }

  .card__description {
    @extend .col-24-md;
  }
}

.card__image {
  position: relative;
  filter: grayscale(0.5);
  z-index: 1;
  transition: filter 0.3s ease-in-out;
  @extend .ba;
  @extend .bw1;
  @extend .bc-grey;
  border-top: 0;
  border-right: 0;
  @extend .mb3;
  @extend .pa4;

  &:hover {
    filter: grayscale(0);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-width: 30px 30px 0 0;
    border-color: var(--black) transparent transparent transparent;
    border-style: solid;
    z-index: 10;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 30px 30px 0;
    border-color: transparent var(--black) transparent transparent;
    border-style: solid;
    z-index: 10;
  }

  .image__figure {
    &:hover {
      &:before {
        transform: scale(1.2);
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-width: 30px 0 0 30px;
      border-color: transparent transparent transparent var(--red);
      border-style: solid;
      z-index: 10;
      transform: scale(1);
      transition: transform 0.1s ease-in-out;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-width: 0 0 30px 30px;
      border-color: transparent transparent var(--black) transparent;
      border-style: solid;
      z-index: 10;
    }
  }
}

.card__dialog {
  //
}

.card__labels {
  //
}

.card__title {
  @extend .mb2;
}

.card__description {
  @extend .mb2;
}

.card__button {
  //
}

.page--bio {
  .card__description {
    display: none;
  }
}

.card--post-thumbnail {
  @extend .ba;
  @extend .bc-mid-grey;
  @extend .pa3;
  @extend .br4;
  @extend .shadow2;

  .card__title {
    @extend .pt2;
  }

  .card__image,
  .image__figure {
    margin-bottom: 0;

    &:before {
      content: none;
    }

    &:after {
      content: none;
    }
  }
}

.card--show {
  .card__dialog {
    // @extend .flex;
    // @extend .flex-wrap;
    @extend .bb;
    @extend .bc-white;

    .card__title {
      margin-bottom: 0;

      * {
        font-weight: bold;
      }
    }

    .card__date {
      @extend .pb3;
      @extend .pb0-md;
    }
  }
}
