// General

.header-wrapper {
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @extend .z8;
}

.header-wrapper--white {
  .nav__desktop__item .button {
    color: var(--white);
  }
}

@include breakpoint-up(md) {
  .header-wrapper {
    height: 80px;
  }
}

.header-wrapper {
  .button {
    @extend .t-primary;
  }
}

// Desktop

.header--desktop {
  height: 80px;
  max-height: 80px;
  min-height: 80px;
}

.nav__desktop__item {
  position: relative;

  @extend .ph3;
}

// Mobile

.header--mobile {
  position: relative;
  height: 80px;
  background-color: transparent;
}

.header--mobile__logo {
  @extend .w3;
  // @extend .mt4;
}

.nav--mobile {
  transition: all 0.5s cubic-bezier(0.985, 0.33, 0.155, 0.87);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  transform: translateX(-100vw);
  @extend .z9;
}

.nav__mobile__item {
  position: relative;
}

.header--mobile.collapsed > .nav--mobile {
  transform: translateX(0);
}

.header__burger {
  background-color: transparent;
  top: 28px;
  left: 10px;
  @extend .absolute;
}
