.intro {
  // background: var(--black);
  overflow: hidden;
  // background: var(--black);
  // color: var(--white);

  @extend .flex;
  @extend .flex-wrap;
  @extend .align-center;
  @extend .justify-center;
}

.planet {
  width: 100%;
  height: 300px;
  display: block;
  z-index: 2;
  position: relative;
  pointer-events: none;
}

@include breakpoint-up(md) {
  .planet {
    height: 600px;
  }
}

.planet__hud__wrapper--1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: transform 2s steps(20);
  pointer-events: none;

  .planet__hud {
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    pointer-events: none;
  }
}

.planet__hud__wrapper--2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: transform 2s steps(20);
  pointer-events: none;

  .planet__hud {
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.3);
    pointer-events: none;
  }
}

.intro__terminal {
  opacity: 1;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
  visibility: visible;
}

@include breakpoint-up(md) {
  .intro__terminal {
    top: 20%;
  }
}

.intro__image--mobile {
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 400px;
  transform: scale(1.4);
  opacity: 0.1;
}

.intro__image {
  opacity: 0;
  animation-name: fade-in-right;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  transform: translateY(100px);

  // max-width: 400px;
  // margin: 0 auto;
}

.intro__barcode {
  top: 0px;
  left: 0;
  right: 0;
  width: 200px;
  margin: 0 auto;
}

.audio__button {
  transition: all 0.1s ease-in-out;

  &:focus,
  &:active {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: white;
  }
}

@include breakpoint-up(md) {
  .intro__barcode {
    top: 20px;
    left: 0;
    right: auto;
    margin: 0;
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }

  100% {
    opacity: 0;
    transform: translateY(30px);
    visibility: hidden;
  }
}
