.intro {
  // background: var(--black);
  overflow: hidden;

  @extend .flex;
  @extend .flex-wrap;
  @extend .align-center;
  @extend .justify-center;
}

.intro__terminal {
  opacity: 1;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
  visibility: visible;
}

@include breakpoint-up(md) {
  .intro__terminal {
    top: 25%;
  }
}

.intro__image--mobile {
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 400px;
  transform: scale(1.4);
  opacity: 0.1;
}

.intro__image {
  opacity: 0;
  animation-name: fade-in-right;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;

  // max-width: 400px;
  // margin: 0 auto;
}

.intro__barcode {
  top: -20px;
  left: 0;
  right: 0;
  width: 200px;
  margin: 0 auto;
}

@include breakpoint-up(md) {
  .intro__barcode {
    top: 20px;
    left: 0;
    right: auto;
    margin: 0;
  }
}

.intro__terminal.hide {
  animation-name: fade-out-down;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 1s;
}

.intro__grid-posts {
  opacity: 0;
  visibility: hidden;
}

.intro__grid-posts.show {
  animation-name: fade-in-up;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 1.7s;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }

  100% {
    opacity: 0;
    transform: translateY(30px);
    visibility: hidden;
  }
}
