$transitionTimeout: 0.3s;

main {
  min-height: calc(100vh);
  padding-top: 80px;
}

@include breakpoint-up(md) {
  main {
    min-height: calc(100vh - 120px);
    padding-top: 120px;
  }
}

// Page transition

.page-transition-enter {
  .main,
  .footer,
  .cookie-banner {
    opacity: 0;
  }
}

.page-transition-enter-active {
  .main,
  .footer,
  .cookie-banner {
    opacity: 1;
    transition: opacity $transitionTimeout;
  }
}

.page-transition-exit {
  .main,
  .footer,
  .cookie-banner {
    opacity: 1;
  }
}

.page-transition-exit-active {
  .main,
  .footer,
  .cookie-banner {
    opacity: 0;
    transition: opacity $transitionTimeout;
  }
}

// Indicator

.loading-indicator-appear,
.loading-indicator-enter {
  opacity: 0;
}

.loading-indicator-appear-active,
.loading-indicator-enter-active {
  opacity: 1;
  transition: opacity $transitionTimeout;
}
