// .page-- {
//
// }

.page--home {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: relative;

  .header--mobile__logo {
    display: none;
  }

  // .header {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100vw;
  // }

  .footer {
    display: none;
  }
}
