// .page-- {
//
// }

.page--home {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: relative;

  .header--mobile__logo {
    display: none;
  }

  // .header {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100vw;
  // }

  .footer {
    display: none;
  }

  .grid {
    .pa3 {
      padding-bottom: 0;
    }
  }

  .card {
    position: relative;
  }

  .card__image {
    // border: 5px solid #000;
    // @extend .shadow3;
  }

  .card__title {
    position: absolute;
    bottom: 85px;
    right: -116px;
    transform: rotate(-90deg);
    width: 200px;
  }

  .card__description,
  .card__button {
    display: none;
  }
}
