.project__header {
  position: relative;
  filter: grayscale(0.5);
  z-index: 1;
  transition: filter 0.3s ease-in-out;

  &:hover {
    filter: grayscale(0);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-width: 30px 30px 0 0;
    border-color: var(--black) transparent transparent transparent;
    border-style: solid;
    z-index: 10;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 30px 30px 0;
    border-color: transparent var(--black) transparent transparent;
    border-style: solid;
    z-index: 10;
  }

  .image__figure {
    &:hover {
      &:before {
        transform: scale(1.2);
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-width: 30px 0 0 30px;
      border-color: transparent transparent transparent var(--red);
      border-style: solid;
      z-index: 10;
      transform: scale(1);
      transition: transform 0.1s ease-in-out;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-width: 0 0 30px 30px;
      border-color: transparent transparent var(--black) transparent;
      border-style: solid;
      z-index: 10;
    }
  }
}

.project__image {
  @extend .pv4;
}

.project__body {
  //
}

.project__body p,
.project__body ul,
.project__body ol,
.project__body blockquote {
  @extend .t-secondary;
  @extend .lh-copy;
  @extend .f5;
  @extend .pb3;
}

.project__body h2,
.project__body h3,
.project__body h4,
.project__body h5,
.project__body h6 {
  @extend .t-primary;
  @extend .lh-title;
  @extend .pb3;
}

.project__body h6 {
  @extend .f5;
}
.project__body h5 {
  @extend .f4;
}
.project__body h4 {
  @extend .f4;
}
.project__body h3 {
  @extend .f3;
}
.project__body h2 {
  @extend .f2;
}

.richtext {
  a {
    color: currentColor;
    text-decoration: underline;
  }

  pre {
    overflow: auto;
    border: 1px solid white;
    @extend .ph3;
    @extend .pv4;
    @extend .br3;
    @extend .mb4;

    * {
      font-size: 14px !important;
      // background-color: var(--light-grey);
    }
  }

  p > code {
    border: 1px solid white;
    // background-color: var(--light-grey);
    @extend .ph1;
    @extend .br3;
  }

  ul,
  ol {
    @extend .pl3;

    li:not(:last-of-type) {
      @extend .pb3;
    }
  }

  p:empty {
    display: none;
  }
}

.code-block {
  position: relative;
  @extend .mt3;
}

.code-block * {
  font-size: 12px;
}

.code-block__language {
  position: absolute;
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  top: -17px;
  left: 0;
  right: 0;
  background-color: #e6e6e6;
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 5px;
  color: var(--black);
}
