.subscribe-banner {
  background: var(--black);
  color: var(--white);
  max-width: 90vw;
  margin: 0 auto;

  @extend .tac;
  @extend .pv5;
  @extend .ph4;
  @extend .shadow2;
}

.subscribe-banner__input {
  box-shadow: 0;
  outline: 0;
  border-radius: 0;
  background: transparent;
  width: 100%;
  margin-bottom: 15px;
  height: 50px;
  color: var(--white);

  @extend .t-secondary;
  @extend .tac;
  @extend .tal-md;
  @extend .f7;
  @extend .f6-md;
  @extend .w5-md;
  @extend .pa2;
  @extend .ba;
  @extend .bw1;
  @extend .bc-white;

  &::placeholder {
    color: var(--white);
    opacity: 1;
  }
}

@include breakpoint-up(md) {
  .subscribe-banner__input {
    width: auto;
    margin-right: 15px;
    margin-bottom: 0px;
  }
}

.subscribe-banner__submit .button {
  border-radius: 0;
}
